[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chaostoolkit = "*"
chaostoolkit-aws = "*"
chaostoolkit-addons = "*"
chaostoolkit-grafana = "*"
chaostoolkit-terraform = "*"
chaostoolkit-toxiproxy = "*"
jsonpath2 = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.11"
