[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chaostoolkit = "*"
chaostoolkit-aws = "*"
chaostoolkit-addons = "*"
chaostoolkit-k6 = "*"
chaostoolkit-terraform = {git = "https://github.com/mcastellin/chaostoolkit-terraform.git"}
jsonpath2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
